<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NP Domain Registration Cover Letter Generator - Suraj Katwal</title>
    <meta name="description" content="NP Domain Registration Cover Letter Generator is a simple online tool to write a cover letter while registering your .com.np or other domain name and download it with a click." />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
    <meta property="og:description" content="NP Domain Registration Cover Letter Generator is a simple online tool to write a cover letter while registering your .com.np or other domain name and download it with a click." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="NP Domain Registration Cover Letter Generator - Suraj Katwal" />
    <meta property="og:url" content="https://surajkatwal.com.np/np-domain-registration-cover-letter-generator/" />
    <meta property="og:site_name" content="Suraj Katwal" />
    <meta property="og:updated_time" content="2022-01-01T10:10:24+05:45" />
    <meta property="og:image" content="https://surajkatwal.com.np/image/np-domain-registration-cover-letter-generator.jpg" />
    <meta property="og:image:secure_url" content="https://surajkatwal.com.np/image/np-domain-registration-cover-letter-generator.jpg" />
    <meta property="og:image:width" content="720" />
    <meta property="og:image:height" content="450" />
    <meta property="og:image:alt" content="NP Domain Registration Cover Letter Generator" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="NP Domain Registration Cover Letter Generator - Suraj Katwal" />
    <meta name="twitter:description" content="NP Domain Registration Cover Letter Generator is a simple online tool to write a cover letter while registering your .com.np or other domain name and download it with a click." />
    <meta name="twitter:site" content="@suraj1kc" />
    <meta name="twitter:creator" content="@suraj1kc" />
    <meta name="twitter:image" content="https://surajkatwal.com.np/image/np-domain-registration-cover-letter-generator.jpg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../image/favicon-16x16.png">
    <link rel="manifest" href="../image/site.webmanifest">
    <link rel="canonical" href="https://surajkatwal.com.np/np-domain-registration-cover-letter-generator/index.html" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [{
                "@type": "Question",
                "name": "How to use NP Domain Registration Cover Letter Generator?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "First, enter your full name, email id, and the domain name which you want to register and click on Generate Cover Letter button. After that, you will see the generated cover letter, simply click the Download Button."
                }
            }, {
                "@type": "Question",
                "name": "What is the procedure for domain registration in Nepal?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "There are a few steps you need to follow. First, visit the official np domain registration website. Head to the User Signup page\nCreate your account and verify it. After that sign in to the register.com.np website. Check if the desired domain is available or not. If yes, then click on Register Now. Now enter the primary name server and secondary name server. Fill up the Administrative contact and Technical contact. Hit Save & Continue. Now upload the required documents. If you are registering for personal purposes then upload your citizenship scan and cover letter. If you are registering for business then upload PAN/VAT copy, cover letter, company registration documents. Finally, wait for the approval."
                }
            }, {
                "@type": "Question",
                "name": "What does the sample cover letter look like?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "The sample cover letter for np registration looks like the following image."
                }
            }]
        }
    </script>
</head>

<body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://surajkatwal.com.np">
                    <p class="is-size-4 has-text-weight-semibold">Suraj Katwal</p>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </nav>
    <div id="app">
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box">
                            <form @submit.prevent="coverLetter()">
                                <div class=" field ">
                                    <label class="label is-size-5 ">Name</label>
                                    <div class="control ">
                                        <input class="input is-medium " type="text " placeholder="Ex: Suraj Katwal " id="name " v-model="name " required="required">
                                    </div>
                                </div>
                                <div class=" field ">
                                    <label class="label is-size-5 ">Email</label>
                                    <div class="control ">
                                        <input class="input is-medium" type="email" placeholder="Ex: suraj@gmail.com" id="email " v-model="email " required="required">
                                    </div>
                                </div>
                                <div class="field ">
                                    <label class="label is-size-5 ">Domain Name</label>
                                    <div class="control ">
                                        <input class="input is-medium " type="text " placeholder="Ex: www.surajkatwal.com.np " id="address " v-model="address " required="required">
                                    </div>
                                </div>
                                <div class="field ">
                                    <div class="control buttons is-centered ">
                                        <button class="button is-primary is-medium ">Generate
                                            Cover Letter</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="column is-half" v-show="isShowing" v-cloak>
                        <div ref="printcontent">
                            <div class="box">
                                <div class="content is-size-5 ">
                                    <p class="has-text-right has-text-weight-bold ">Date: {{currentDate()}}</p>
                                    <p class="has-text-weight-semibold ">To<br> The Host Master<br> Mercantile Communication Pvt. Ltd</p>
                                    <p class="has-text-centered has-text-weight-bold ">Subject: <u>About Domain
                                                Registration</u></p>
                                    <p>Dear Sir/Madam,</p>
                                    <p>I would like to request you for the domain registration of
                                        <strong>{{address}}</strong>, for which I shall be very much obliged to you.</p>
                                    <p>Thanking You. <br> Sincerely,
                                    </p>
                                    <p>...........................<br><strong>{{name}}</strong><br> {{email}}
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="field">
                            <div class="control buttons is-centered ">
                                <button class="button is-danger is-medium mt-2" @click.preventDefault="printThis">Download</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
    <section class="ml-2 mr-2">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-four-fifths">
                    <div class="box content ">
                        <h1 class="has-text-centered">NP Domain Registration Cover Letter Generator</h1>
                        <p class="is-size-5">
                            NP Domain Registration Cover Letter Generator is a simple online tool to write a cover letter while registering your .com.np or other domain name and download it with a click.
                            <div class="has-text-centered">
                                <figure class="image is-inline-block"><img src="../image/np-domain-registration-cover-letter-generator.jpg" height="450" width="720" alt="NP Domain Registration Cover Letter Generator"></figure>
                            </div>
                            </a>.
                        </p>
                    </div>
                    <div class="box content">
                        <h2>How to use NP Domain Registration Cover Letter Generator?</h2>
                        <p class="is-size-5">
                            First, enter your full name, email id, and the domain name which you want to register and click on Generate Cover Letter button. After that, you will see the generated cover letter, simply click the <strong>Download Button</strong>.
                        </p>
                    </div>
                    <div class="box content">
                        <h2>What is the procedure for domain registration in Nepal?</h2>
                        <p class="is-size-5">
                            There are a few steps you need to follow.
                            <ul class="is-size-5">
                                <li>First, visit the <strong>
                                    <a href="https://register.com.np/" target="_blank">official np domain registration website</a>.</strong></li>
                                <li>Head to the User Signup page</li>
                                <li>Create your account and verify it.</li>
                                <li>After that sign in to the register.com.np website.</li>
                                <li>Check if the desired domain is available or not.</li>
                                <li>If yes, then click on Register Now.</li>
                                <li>Now enter the primary name server and secondary name server.</li>
                                <li>Fill up the Administrative contact and Technical contact.</li>
                                <li>Hit Save & Continue.</li>
                                <li>Now upload the required documents. If you are registering for personal purposes then upload your citizenship scan and cover letter. If you are registering for business then upload PAN/VAT copy, cover letter, company registration
                                    documents.
                                </li>
                                <li>Finally, wait for the approval.</li>
                            </ul>
                        </p>
                        <div class="box content">
                            <h2>What does the sample cover letter look like?</h2>
                            <p class="is-size-5">
                                The sample cover letter for np registration looks like the following image.
                                <div class="has-text-centered">
                                    <figure class="image is-inline-block">
                                        <img src="../image/np-domain-registration-cover-letter.jpg" height="725" width="825" alt="NP Cover Letter Sample"></figure>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2.6.14 "></script>
    <script src="script.js ">
    </script>
</body>

</html>